<div class="card text-center" style="width: 18rem;">
    <div class="card-body">
        <p class="card-text">Il fait <?=$data['measure']->getTemperature()?>°C avec <?=$data['measure']->gethumidity()?>% d'humidité.</br>
            <?=$data['measure']->getDatetime()?></p>

        <div class="thermometer">
            <div class="bargraph" style="height: <?=$data['bargraph_height']?>px; top: <?=$data['bargraph_top']?>px;"></div>
        </div>
    </div>
</div>